@model RentalPortal.Models.OwnerInsert;

<form asp-action="OwnerInsert_Click" class="form-horizontal">
    <div class="form-group">
        <label class="control-label">Name</label>
        <input asp-for="oname" class="form-control" id="t1" />
    </div>
    <div class="form-group">
        <label class="control-label">Address</label>
        <input asp-for="oaddr" class="form-control" id="t2" />
    </div>
    <div class="form-group">
        <label class="control-label">Contact No:1</label>
        <input asp-for="ophn1" class="form-control" id="t3" />
    </div>
    <div class="form-group">
        <label class="control-label">Contact No:2</label>
        <input asp-for="ophn2" class="form-control" id="t4" />
    </div>
    <div class="form-group">
        <label class="control-label">Email</label>
        <input asp-for="oemail" class="form-control" id="t5" />
    </div>
    <div class="form-group">
        <label class="control-label">Username</label>
        <input asp-for="ousername" class="form-control" id="t6" />
    </div>
    <div class="form-group">
        <label class="control-label">Password</label>
        <input asp-for="opassword" class="form-control" id="t7" />
    </div>
    <div class="form-group">
        <input type="submit" value="Insert" class="btn btn-success" />
    </div>
</form>
@{
    if (TempData["msg"] != null)
    {
        <script>
            alert('@TempData["msg"]')
            document.getElementById("t1").value = '';
            document.getElementById("t2").value = '';
            document.getElementById("t3").value = '';
            document.getElementById("t4").value = '';
            document.getElementById("t5").value = '';
            document.getElementById("t6").value = '';
            document.getElementById("t7").value = '';
        </script>
    }

}
